header, aside, article, div, body {

    background-color: Azure;
} 
section#main {
    display: table-cell;
    padding: 15px;
    vertical-align: top;
}
p {
    color: maroon;
}
h1,h2 {
    text-align: center;
    font-family: sans-serif;
    color: gray;
    border-bottom: 1px solid black;
}
footer {

}
